div.colour {
  height: 3vw;
  width: 3vw;
  border: solid white 2px;
  transition-timing-function: ease;
  transition: transform 0.2s;
}

div.colour:hover {
  transform: scale(1.3);
}

#spectrum {
  height: 100vh;
}