#colour-container {
  height: 100vh;

  .colour-description {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15vh;
  }
}

#sliders {
  margin-left: 3vw;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .MuiSlider-root {
    margin: 1vh;

    &.red {
      color: red;
    }
    &.green {
      color: green;
    }
    &.blue {
      color: blue;
    }
  }

  .MuiInput-underline:before {
    border-bottom: none;
  }

}

